<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @cliente.conta %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @cliente.senha %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Mensagem:</strong>
  <%= @cliente.mensagem %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
